[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/chrisc/sites/DOMAIN
EnvironmentFile=/home/ubuntu/chrisc/sites/DOMAIN/.env

ExecStart=/home/ubuntu/chrisc/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket APP.wsgi:application

[Install]
WantedBy=multi-user.target
